<main>
  <section class="section section-shaped">
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-white pb-5">
              <div class="text-muted text-center mb-3">
                <small>Iniciar sesion con</small>
              </div>
              <img src="./assets/img/brand/identidad.jpg" style="width: 100px;display: block;margin: auto">
            </div>
            <div class="card-body px-lg-5 py-lg-5" id="firebaseui-auth-container">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
